/*
 * @name Min
 * @version 0.1.0
 * @description A modified version of Minimalist Dark from Ruben7173
 * @source https://github.com/lolLucoa/testcolonD
 * @updateUrl https://raw.githack.com/lolLucoa/testcolonD/master/code.css
 * @website https://github.com/lolLucoa/testcolonD
 * @donate 
 * @patreon 
 * @invite 
 * @author Ruben7173
 * @authorId 
 * @authorLink https://github.com/Ruben7173
*/

:root {
	/*scrollbars */
	--scrollbar-auto-thumb: #0c47a29c;

	--scrollbar-thin-thumb: #0c47a29c;

	--scrollbar-thin-track: #091b63a1;

	--scrollbar-auto-scrollbar-color-thumb: #0c47a29c;

	--scrollbar-auto-scrollbar-color-track: #091b63a1;

	/* background image URL */
	--background-image: url('https://images4.alphacoders.com/993/993395.jpg') center/cover no-repeat;
	/* default background image hdtps://i.imgur.com/hwseeIN.jp */

	/* Transparency */
	--transparency-level: rgba(0,0,0,0.23); 

	/* transparency of top windows bar works different from the top one for some reason you have to try different values to match transparecy (aprox value is top value x 3 = result) */
	--transparency-level-top: rgba(0,0,0,0.84);

	/* ESC Button color at settings */
	--ESC-Button-color: rgba(43, 99, 57, 0.9);

	/* transparency of settings page */
	--transparency-settings: rgba(0,0,0,0.23);
}

/* background */
.appMount-3lHmkl {
    background: var(--background-image);
}
/* setting transparency */
.container-2lgZY8, .sidebar-2K8pFh, .activityFeed-1C0EmJ, .da-app .wrapper-1Rf91z, .channels-Ie2l6A, .container-PNkimc, .da-app .container-2Thooq, .da-app .chat-3bRxxu, .da-app .chat-3bRxxu form, .da-app .content-yTz4x3, .da-app .layer-3QrUeG, .da-app .layers-3iHuyZ, .da-app .title-3qD0b-, .da-app .headerBar-UHpsPw, .da-app .members-1998pB, .da-app .messagesWrapper-3lZDfY, .da-app #friends, .da-app .activityFeed-28jde9, .da-app .ui-standard-sidebar-view, .da-app .ui-standard-sidebar-view .content-region, .da-app .ui-standard-sidebar-view .sidebar-region, .da-app .noChannel-Z1DQK7, .da-app .gameLibrary-TTDw4Y, .da-app .applicationStore-1pNvnv, .da-app .container-3gCOGc, .da-app .root-1BQpZw, .theme-dark .gameLibrary-TTDw4Y {
	background-color: var(--transparency-level);
}
.titleBar-AC4pGV {
	background: var(--transparency-level-top);
	margin-top: 0px;
	padding-top: 4px;
}
/* fix on new update transparency of settings */
.theme-dark .standardSidebarView-3F1I7i {
    background-color: var(--transparency-settings);
}

/* removing backgrounds */
.da-app .chat-3bRxxu form, .da-app .container-2Thooq, .panels-j1Uci_, .da-app .headerBar-UHpsPw, .da-app .messagesWrapper-3lZDfY, .da-app .members-1998pB, .da-app .inner-zqa7da, .da-app .typing-2GQL18, .da-app .wrapper-29NfPK, .search-bar, .da-app .markup-2BOw-j pre, .da-app .hljs, .da-app .markup-2BOw-j code, .da-app .markup-2BOw-j code.inline, .da-app .contentRegion-3nDuYy, .da-app .sidebarRegion-VFTUkN {
	background: none;
}

/* fixes */
.theme-dark {
    --background-primary: none;
    --background-secondary: none;
    --background-tertiary: none;
    --background-accent: none;
}

/*Whats hopefully transparency for the chat box. */
.scrollableContainer-2NUZem {
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: hsla(0,0%,100%,.1);
    max-height: 50vh;
    border-radius: 8px;
    scrollbar-width: none;
}

.scroller-2LSbBU::-webkit-scrollbar-track {
    margin-bottom: 8px;
    background-color: #091b63a1;
}

/*Discord SVG Color Change*/
.wordmarkWindows-1v0lYD {
    color: #608ad4;
}
